# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Machine learning model files
model/*.pkl  # Exclude all .pkl files in the model folder
!model/      # Include the model folder itself

# Environment variables
.env
*.env

#Virtual Environment
myenv/
